.App {
  width: 100vw;
  text-align: center;
  background-color: '#eee';
  align-content: center;
  justify-content: center;
  padding: 0 auto;
}

.center{
  max-width: 70%;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
}

h1{
  width: 100%;
  padding: 10px;
  background-color: white;
  margin: 20px auto 40px;
  align-content: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
}

.fixed{
  top: 0;
  position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
