.todo{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 10px 20px;
    margin: 10px 0;

    span{
        font-size: 1.05rem;
        margin-right: 5%;
        flex: 1;
    }

    button{
        align-content: flex-end; 
        right: 0;
        flex: 1;

    }
}